.logo-thumbnail {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background-color: white;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
	background-position: center;
	background-repeat: no-repeat;
	margin: 1rem;
	background-size: 6rem;
}

@media only screen and (max-width: 1000px) {
	.logo-thumbnail {
		height: 90px;
		width: 90px;
		background-size: 5rem;
	}
}

@media only screen and (max-width: 800px) {
	.logo-thumbnail {
		height: 60px;
		width: 60px;
		background-size: 2rem;
	}
}

@media only screen and (max-width: 410px) {
	.logo-thumbnail {
		height: 30px;
		width: 30px;
		background-size: 1rem;
	}
}